
@{
    ViewBag.Title = "Doriru Doriru N1 – Trọn bộ 3 cuốn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-9">
    <br />
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 book-image">
                <img class="book-image" src="~/Upload/Images/book-sample.jpg" />                
            </div>
            <div class="col-lg-6">
                <ul class="book-detail">
                    <li>
                        <label class="book-detail-lb title">
                            Doriru Doriru N1 – Trọn bộ 3 cuốn
                        </label>
                    </li>
                    <li>
                        <label class="book-detail-lb">
                            Mã sách :
                        </label>
                        <label class="book-detail-1">
                            01CB065
                        </label>
                    </li>
                    <li>
                        <label class="book-detail-lb">
                            Tình trạng :
                        </label>
                        <label class="book-detail-lb status-on">
                            Còn hàng
                        </label>
                        @*<label class="book-detail-lb status-off">
                                Hết hàng
                            </label>*@
                    </li>
                    <li>
                        <label class="book-detail-lb">
                            Giá bán :
                        </label>
                        <label class="book-detail-lb promotion">
                            198.000đ
                        </label>
                        <label class="book-detail-lb price">
                            239.000đ
                        </label>
                    </li>
                    <li>
                        <label class="book-detail-lb">
                            Số lượng :
                        </label>
                        <input type="number" />
                    </li>
                    <li>
                        <button type="button" class="btn btn-success">
                            Thêm vào giỏ hàng
                        </button>
                        <button type="button" class="btn btn-warning">
                            Mua ngay
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Mô tả</h3>
                ドリル&ドリル日本語能力試験N1 聴解・読解

                Doriru& doriru Nihon gonoryokushiken N 1 chokai dokkai

                Link download CD -> http://bit.ly/2wEzNA9

                Pass giải nén: giaotrinhtiengnhat.com
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Sách cùng loại</h3>
                <ul class="">
                    <li>ABC</li>
                    <li>ABC</li>
                    <li>ABC</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.col-lg-9 -->
