<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet" />

</head>

<body>
    <!-- Navigation -->
    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            @{Html.RenderAction("_SideBar", "Home");}
            @*@RenderPage("~/Views/Shared/_SideBar.cshtml")*@
            @RenderBody()
        </div>

    </div>
    <!-- /.container -->
    <!-- Footer -->
    @RenderPage("~/Views/Shared/_Footer.cshtml")
    <!-- /.Footer -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
